/* gift stamp */
.stamp {
    position: absolute;
    height: 60px;
    width: auto;
}

.image_box {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0px 5% 5px 5px;
    padding: 0px 0px 0px 5px;
}
html{
    height: 100%;
}

body {
    /* background-color: #000000; */
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}